#about {
  margin-top: 150px;
  background-color: rgb(68, 24, 68);
}

.about-header {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-left: 50px;
}

.about-text {
  margin-top: 40px;
  color: white;
  margin-left: 60px;
  text-align: center;
}

.selfie {
  width: 40%;
  margin-left: 150px;
  margin-top: 250px;
  box-shadow: 5px 5px 300px 20px #035ee8;
}

.selfie:hover {
  box-shadow: 5px 5px 200px 20px #d40078;
}

.resume-btn {
  background-color: transparent;
  border: 2px solid purple;
  border-radius: 6px;
  color: white;
  width: 150px;
  height: 80px;
  margin-left: 380px;
  margin-top: 50px;
  margin-bottom: 120px;
}

.resume-btn:hover {
  color: black;
  background-color: aqua;
  box-shadow: 5px 5px 80px 10px aqua;
  border-color: transparent;
}

.about-header {
  display: inline-block;
  position: relative;
  color: #ffffff;
  margin-left: 300px;
}
.about-header:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e40fcf;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.about-header:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
